/* General Styling */
.landing-services-section {
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-intro-content-container {
  text-align: center;
  color: #ffffff;
  max-width: 1000px;
}

.services-intro-content-container h1 {
  font-family: 'Outfit', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: -40px;
}

.services-intro-content-container h2 {
  font-family: 'Outfit', sans-serif;
  font-size: 64px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-intro-content-container h3 {
  font-family: 'Outfit', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 50px;
}

.cta-button {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  font-family: 'Outfit';
  background: #8D7D41;
  transition: 1s ease;
  cursor: pointer;
  padding: 20px 30px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.cta-button:hover {
  transform: scale(1.05);
  transition: 1s ease;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .services-intro-content-container {
    padding: 0 20px;
  }

  .services-intro-content-container h2 {
    font-size: 50px;
    margin-top: 50px;
  }

}

@media screen and (max-width: 768px) {
  .landing-services-section {
    height: auto;
    padding: 100px 0;
  }

  .services-intro-content-container h1 {
    font-size: 18px;
  }

  .services-intro-content-container h2 {
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .services-intro-content-container h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 615px) {
  .cta-button {
    font-size: 18px;
  }
}
