/* General Styles */
.services-section {
  padding: 50px 20px;
  background-color: #D9D9D9;
  text-align: center;
}

.services-header {
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
}

.services-header h2 {
  font-family: 'Outfit';
  font-size: 20px;
  font-weight: 400;
  color: #8D7D41;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-bottom: -30px;
}

.services-header h3 {
  font-family: 'Outfit';
  font-size: 40px;
  font-weight: 500;
  color: #634521;
  margin-bottom: 20px;
}

/* Service Cards */
.services-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #22231F;
  padding: 40px;
  align-items: center;
  border-radius: 10px;
}

.service-card {
  max-width: 370px;
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 30%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.service-card img {
  height: 60px;
  margin-bottom: 20px;
}

.service-card h4 {
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #8D7D41;
  margin-bottom: 10px;
}

.service-card p {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

@media screen and (max-width: 1024px) {
  .services-header h3 {
    font-size: 32px;
  }
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .services-header h2 {
    font-size: 18px;
  }
  
  .services-header h3 {
    font-size: 32px;
  }

  .services-cards {
    flex-direction: column;
  }

  .service-card {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }
}
